 *  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.container  {
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.navbar {
    background: #a5c892;
    padding-top: 10%;
    height: 100%;
}

.navbar ul li{
    padding: 3%;
    list-style: none;
    text-decoration: none;
    color: #042A2B;
    font-size: 1.5em;
}

.navbar ul li a:hover{
    color: orange;
}

.nav-flex    {
    display: flex;
    flex-direction: column;
    row-gap: 80vh;
}

a   {
    text-decoration: none;
}

a:visited     {
    text-decoration: none;
    color:#042A2B
}

a:hover {
    color: orange;
}

.nav-flex a:visited     {
    text-decoration: none;
}

.nav-flex-item a{
    color: #042A2B;
}

.nav-flex-item a:hover{
    color: orange;
}

.section-grid-1   {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: .25fr .80fr 1fr;
    row-gap: 10px;
    height: 100vh;
    width: 100vw;
    text-align: center;
    scroll-snap-align: start;
    background-color: #E7D7C1;
}

.section-grid-2   {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    height: 100vh;
    width: 100vw;
    text-align: center;
    scroll-snap-align: start;
}

.grid-child-01  {
    background-color: #638475;
    width: 100%;
}

.grid-child-0   {
    grid-column: 2/3;
    height: 100vh;
}

.grid-child-0 > img   {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-child-1 {
    grid-column: 3/3;
    margin-right: 5%;
}

.grid-child-1 > h1{
    padding-bottom: 7%;
    color: #042A2B;
    font-size: 3.3em;
}

.grid-child-1  p   {
    color: #042A2B;
    font-size: 1.5em;
    text-justify: auto;
}

.grid-child-2 {
    grid-column: 1 / span 3;
    height: 100vh;
    width: 100vw;
}

.grid-child-2 h1 {
    text-align: center;
}

.hoz-container  {
    width:100%;
    height: 100%;
    background-color: #E7D7C1;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-behavior: smooth;
    display: flex;
}

.hoz-section    {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

.work-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.work-container > button {
    background-color: transparent;
    border: none;
}

.work-child-0   {
    align-self: center;
}

.work-child-0 > a  {
    text-decoration: none;
}

.work-child-0 > a > span  {
    font-size: 5em;
    color: #638475;
}

.work-child-0 > a:hover > span  {
    color: orange;
}

.work-child-1   {
    align-self: center;
}

.work-child-1 > a  {
    text-decoration: none;
}

.work-child-1 > a > span  {
    font-size: 5em;
    color: #638475;
}

.work-child-1 > a:hover > span  {
    color: orange;    
}

.work-child-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #042A2B;
    width: 80vw;
    height: 80vh;
    font-size: 2em;
    row-gap: 10%;
}

.work-child-content > h1 > a {
    text-decoration: none;
}

.work-child-content > h1 > a:visited {
    color: #042A2B;    
}

.work-child-content > h1 > a:hover {
    color: orange;    
}

.work-child-content > div > img {
    width: 50vw;
    height: 50vh;
    object-fit: cover;
}
    
.carousel {
    width: 50vw;
    height: 50vh;
    position: relative;
  }
  
  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
  }
  
  .slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }

  .carousel iframe  {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: #638475;
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
  }
  
  .carousel-button:hover,
  .carousel-button:focus {
    color: orange;
    background-color: rgba(0, 0, 0, .2);
  }
  
  .carousel-button:focus {
    outline: 1px solid black;
  }
  
  .carousel-button.prev {
    left: 1rem;
  }
  
  .carousel-button.next {
    right: 1rem;
  }


/* Welcome animation using grid and gsap */
.open-grid  {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50vh;
    height: 100vh;
    align-content: center;
    background-color: #042A2B;
}

.header {
    border: #E7D7C1 solid 1px;
    background-color: #E7D7C1;
    display: flex;
    flex-direction: column;
}

.header a   {
    background-color: #E7D7C1;
    margin: auto;
    font-size: 80px;
    text-decoration: none;
    color: #042A2B;
}

.header a:visited   {
    color: #042A2B;
}

.header a:hover   {
    color: orange;
}
/* Welcome animation end */